.App {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 1fr;
  grid-template-areas:  "n" "m" "o" "t ""f";
}

.PennyNav {
  grid-area: n;
}

.Home {
  grid-area: m;
}

.chatOut {
  grid-area: o;
}

.chatTyping {
  grid-area: t;
}

#sendChat {
  grid-area: f;
}