.Chat {
  margin-top: 6vh;
  height: 94vh;
}

.bottomBar > input{
  border-radius: 10px;
  width: 80%;
  height: 6vh;
}

.chatOut {
  display: flex;
  width: 100%;
  display: grid;
  grid-gap: 5px;
  grid-auto-columns: minmax(100px, auto);
  grid-auto-rows: auto;
  overflow: auto;
  word-wrap: break-word;
  overscroll-behavior: auto;
}

.me {
  color: white;
  width: 100%;
  justify-content: flex-start;
  border: 1px solid rgb(92, 23, 119);
  border-radius: 10px;
  padding: 5px;
  background-color: rgb(92, 23, 119);
}

.them {
  color: white;
  width: 100%;
  justify-content: flex-end;
  border: 1px solid rgb(85, 223, 85);
  border-radius: 10px;
  padding: 5px;
  text-align: right;
  background-color: rgb(85, 223, 85);
}

.bottomBar > button {
  width: 10%;
  background-color: rgb(92, 23, 119);
  color: white;
  border-radius: 10px;
  border: 1px solid white;
  height: 6vh;
}

.bottomBar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#receiveChat {
  height: 6vh;
  background-color: rgb(85, 223, 85);
}